{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Python Django Learning App Heroku</h1>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    This app has been built using the Heroku Django Getting Started Template as the basic skeleton for the project. <a href="https://github.com/heroku/python-getting-started">Git source</a>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-info-sign"></span> This is the Hello App</h3>
      <ul>
        <li>This app serves as the homepage and will document other apps and functionality of the site as I go through the learning process</li>
      </ul>
    </div>
  </div> <!-- row -->
</div>
{% endblock %}
